<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HASH_KEY</key>
	<string>e03fa0fea7ec944d28f27329827d0abf</string>
	<key>API_KEY</key>
	<string>c1b3f95b3999eaaba4c7b0e52ad7cb4b</string>
</dict>
</plist>
